# Project media
media/user-uploads/*
media/stickers/*
media/user-designs/*
!media/user-uploads/.htaccess
!media/stickers/.htaccess
!media/user-designs/.htaccess

# Visual Studio
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix