:root {
    --accent-color: #5c2580; /* ff6f00 */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #cccccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#canvas {
    background-color: white;
    flex-grow: 1;
    height: 100vh;
}

/* UI Elements */
.ui-element {
    border: 2px solid darkgray;
    border-radius: 1rem;
    background-color: white;
    padding: .75rem;
    z-index: 99;
}

#toolbar {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.toolbar-item {
    font-size: 2rem;
    background-color: transparent;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0.1rem;
    border: none;
    color: var(--accent-color); /* #4f4f4f */
}

.toolbar-item:hover {
    background-color: #e6e6e6;
}

.toolbar-item:active {
    background-color: #dddddd;
}

.toolbar-item:has(.toolbar-more) > span {
    position: relative;
}

.toolbar-more {
    font-size: 1.25rem;
    opacity: .7;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1.1rem;
}

.hidden {
    display: none !important;
}

.ui-expand-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ui-expand {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    right: -1.5rem;
}

#shape-dropdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#trash {
    color: rgb(200, 70, 70);
}

#confirm-delete {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

/* Images */
#image-dropdown {
    width: 336px;
}

#gallery-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}

#gallery-header {
    position: relative;
    padding: .5rem;
    background-color: #f7f7f7;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#gallery-buttons {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

#gallery-buttons > button {
    cursor: pointer;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#gallery-buttons > button:hover {
    background-color: #e6e6e6;
}

#gallery-buttons > button:active {
    background-color: #dddddd;
}

#qrcode-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    justify-content: center;
}

#qrcode-title{
    font-size: .95rem;
}

#qrcode-container > a {
    font-size: .75rem;
    margin-bottom: 1rem;
}

#qrcode-container > a::after {
    content: attr(href);
}

#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.image-button {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    line-height: 0;
}

.image-button::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.15s ease;
}

.image-button:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
}

.image-single {
    width: 150px;
    height: 125px;
    object-fit: cover;
}

/* Stickers */
#sticker-dropdown {
    height: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sticker-container {
    column-count: 3;
    column-gap: .5rem;
}

#sticker-container > button {
    margin: .25rem 0;
}

#sticker-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .5rem;
    text-align: center;
}

.sticker-single {
    width: 100px;
    object-fit: contain;
}

/* Alignment */
#align-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#align-dropdown > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Page previews */
#preview-container {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .1rem;
}

.preview-button {
    position: relative;
    outline: 1px solid #bdbdbd;
}

.preview-button::after {
    content: attr(data-tooltip);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    line-height: 2.5rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition:
        background-color 0.15s ease,
        outline-color 0.05s ease-in-out;
}

.preview-button::after span {
    padding-bottom: 5px;
}

.preview-button:hover {
    cursor: pointer;
}

.preview-button:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
}

.active {
    outline: var(--accent-color) solid 2px;
    outline-offset: -1px;
    z-index: 1;
    transition: outline-color 0.05s ease-in-out;
}